* {
	outline: none !important;
}

.animated {
	transition: all .3s ease;
	visibility: visible;
}

.hidden-sm-down {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.hidden-md-down {
	@include media-breakpoint-down(md) {
		display: none;
	}
}

// .noscript { display: none; }

.stuck {
	position:fixed !important;
	top: 100px;
}