header.main-header {
	position: fixed;
	width: 100%;
	background: $white;
	box-shadow: 0 -10px 20px 20px rgba(0,0,0,0.05);
	z-index: 1000;
}

.hamburger {
	float: left;
	padding: 0;
	padding-top: rem-calc(26px);
	padding-right: rem-calc(16px);

	@include media-breakpoint-down(sm) {
		padding-top: rem-calc(16px);
	}
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	height: 2px;
	background-color: #839635;
}

.navbar-brand {
	position: relative;
	max-width: 75%;

	img {
		width: 100%;
		height: auto;
	}

	@include media-breakpoint-down(sm) {
		width: 75%;
	}
}

.nav-primary, .nav-secondary {
	
	.nav {

		justify-content: center;

		li {

			&:not(:last-child) {
				margin-right: rem-calc(30px);
			}

			a {
				position: relative;
				display: inline-block;
				color: theme-color("primary");
				font-family: $font-family-sans-serif-utility;
				@include responsive-font(1vw, 10px, 16px, 12px);
				text-transform: uppercase;
				letter-spacing: 0;
				line-height: 1.5;
				opacity: 0.6;
				margin-top: rem-calc(28px);
				@extend .animated;

				@include media-breakpoint-down(sm) {
					font-size: rem-calc(16px);
				}

				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: -3px;
					width: 0;
					height: 3px;
					background: theme-color("primary");
					@extend .animated;
				}

				&:hover {
					opacity: 1;
					text-decoration: none;

					&:after {
						width: 100%;
					}
				}

				@include media-breakpoint-only(md) {
					font-size: rem-calc(12px);
				}
			}

			&.active a {
				opacity: 1;

				&:after {
					width: 100%;
				}
			}
		}

	}
}

.nav-secondary .nav li a {
	@include media-breakpoint-only(md) {
		margin-top: 0;
	}
}

.social-links {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;

	li {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-top: rem-calc(18px);
		white-space: nowrap;
		font-size: rem-calc(18px);

		&:not(:last-child) {
			// margin-right: 6px;
		}

		a {
		    display: inline-block;
		    width: 100%;
		    height: 100%;
		    text-align: center;
		    line-height: 0;
		    color: #000;
		    opacity: 0.7;
		    padding: rem-calc(10px);
		    border: solid 1px transparent;
		    border-radius: 100%;
			@extend .animated;

			&:hover {
				opacity: 1;
				border-color: #00aced;
			}
		}

		&:nth-child(2) a:hover {
			border-color: #3b5998;
		}

		&:nth-child(3) a:hover {
			border-color: #bc2a8d;
		}

		&:nth-child(4) a:hover {
			border-color: #622284;
		}
	}
}

.header-buttons {
	padding-top: rem-calc(20px);
	text-align: right;

	button {
		color: $white;
		border: none;
		padding: rem-calc(10px);
		text-transform: uppercase;
		line-height: 1;

		a {
			color: $white;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.share {
		position: relative;
		display: inline-block;

		.share-btn {
			background: #E55532;
		}

		.share-modal {
			position: absolute;
			top: 42px;
			left: 0;
			width: 260px;
			height: 0;
			background: $white;
			border: solid 1px theme-color("primary");
			border-radius: 0 10px 10px 10px;
			box-shadow: 0 8px 10px 4px rgba(0, 0, 0, 0.05);
			opacity: 0;
			z-index: 1000;

			&.is-active {
				height: auto;
				opacity: 1;
			}
		}
		
	}

	.next-article {
		margin-left: rem-calc(10px);
		background: #839635;
	}
}

.header-expand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 0;
	opacity: 0;
	overflow: hidden;
	text-align: center;
    transition: all .6s ease;

	.nav-primary, .nav-secondary {
		width: 100%;
		padding-bottom: rem-calc(28px);

		// @include media-breakpoint-only(md) {
		// 	padding-bottom: rem-calc(16px);
		// }
	}

	.social-links {
		text-align: center;

		li {
			margin-top: 0;
			margin-bottom: rem-calc(30px); 
		}
	}

	.copyright {
		width: 100%;
		background: #efefef;
		padding: rem-calc(15px) 0;
		color: #aaa;
		font-size: rem-calc(12px);

		p {
			margin: 0;
		}
	}

	@include media-breakpoint-down(sm) {
	    position: absolute;
	    top: 62px;
	    left: -100%;
	    min-width: 80vw;
	    height: calc(100% - 68px);
        display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    overflow-y: scroll; 
	    background: $white;
	    opacity: 1;
	    z-index: 1000;

	    .nav {
	    	justify-content: flex-start;
	    	flex-direction: column;
	    	flex-wrap: nowrap;
	    	text-align: left;

	    	li {
	    		padding: rem-calc(14px 30px);
	    		border-bottom: solid 1px #ececec;
	    		margin-right: 0 !important;

	    		a {
	    			margin: 0;
	    			line-height: 1;
	    		}
	    	}
	    }
	}
}

.main-header.expanded {
	box-shadow: none;
	border-bottom: solid 1px #839635;

	.header-expand {
		height: auto;
		opacity: 1;

		@include media-breakpoint-down(sm) {
		    left: 15px;
		    height: calc(100vh - 62px);
		}
	}
}

@include media-breakpoint-down(sm) {
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100vh;
		background: theme-color("primary");
		opacity: 0;
		z-index: 990;
		transition: all .3s ease;

		&.is-active {
			width: 100%;
			opacity: 0.6;
		}
	}
}

.main {
	padding-top: rem-calc(70px);
}

.search-form {
	display: block;
	margin-top: 10px;

	label {
		display: inline-block;
	}

	.search-submit {
	    background-color: #839635;
	    border-color: #839635;
	}
}