.page-header {
	padding-top: rem-calc(60px);
	padding-bottom: rem-calc(30px);
}

.pagenav-container {
	justify-content: center;
}

.nav-links {
	margin: rem-calc(20px) auto;
}

.page-numbers {
	display: none;

	&.next, &.prev {
		display: inline-block;
		@extend .btn;
		@extend .btn-primary;
	}
}

.sidebar-home {
	@include make-col-ready();
	
	@include media-breakpoint-up(lg) {
		@include make-col(2);
	}

	&.stuck {
		right: 100px;
	}
}

.posts-container .row {
	&.author-intro {
		padding-bottom: rem-calc(30px);
	    margin-bottom: rem-calc(30px);
	    border-bottom: solid 3px $gray-900;

	    .column {
	    	display: block;
	    }

	    .social-links {
	    	text-align: left;
	    }
	}

	&.author-article-title {
		margin-bottom: rem-calc(30px);
	}
}
