.main {
	overflow-x: hidden;
}

.featured-image {

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.caption {
		border-bottom: solid 1px #f6f6f6;
		padding-top: rem-calc(4px);
		padding-bottom: rem-calc(6px);
		width: 100%;
		font-size: rem-calc(10px);
		text-align: right;
		text-transform: uppercase;

		a {
			color: #a3a3a3;
			@extend .animated;

			&:hover {
				color: $black;
				text-decoration: none;
			}
		}
		
	}
}

.entry-title {
	text-align: center;

	a {
		color: $gray-900;
		font-weight: 600;
		@extend .animated;

		&:hover {
			color: theme-color("primary");
			text-decoration: none;
		}
	}
}

.home, .archive {
	.entry-title {
		@include media-breakpoint-only(md) {
			font-size: rem-calc(28px);
		}
	}
}

.byline {
	color: #a3a3a3;
	text-align: center;
	text-transform: uppercase;

	a {
		color: #333;
		font-weight: 600;

		&:hover {
			color: theme-color("primary");
			text-decoration: none;
		}
	}
}

.entry-summary {
	text-align: center;
}

.posts-container {
	padding-top: rem-calc(30px);

	.post {
		width: 100%;
		
		border-top: 1px solid #ececec;

		&:not(:first-child) {
			padding-top: rem-calc(30px);
			padding-bottom: rem-calc(15px);
		}

		.featured-image {
			width: 45%;
			float: right;
		}

		.caption {
			display: none;
		}

		.video-post {
			position: relative;
			display: block;
			width: 45%;
			float: right;

			.featured-image {
				width: 100%;
				float: none;
			}

			&:after {
				position: absolute;
				font-family: "FontAwesome";
			    text-align: center;
			    line-height: 1.6;
				content: '\f01d';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				font-size: rem-calc(120px);
				color: $black;
				opacity: 0.1;
			}
		}

		.post-content {
			width: 45%;
			float: left;

			header {
				position: relative;
			    display: flex;
			    flex-direction: column;

			    .first-category {
		    	    position: absolute;
				    top: -20px;
				    display: inline-block;
				    background: transparent;
				    color: #333;
				    line-height: 1;
				    align-self: flex-start;
					font-weight: 300;
					text-transform: uppercase;
					letter-spacing: 1px;
					opacity: 0.8;
					@extend .animated;

					&:hover {
						color: theme-color("primary");
						text-decoration: none;
						opacity: 1;
					}
			    }
			}

			.entry-title, .byline {
				text-align: left;
			}

			.entry-summary {
				display: none;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.row .column {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.post:nth-child(2), .post:nth-child(3), .post:nth-child(8), .post:nth-child(9), .post:nth-child(18), .post:nth-child(19) {
				width: 45%;
				border: none;
				flex-direction: row;

				.featured-image, .post-content {
					width: 100%;
				}

				.video-post {
					width: 100%;
					float: none;
				}

				.post-content header {
				    display: flex;
				    flex-direction: column;

				    .first-category {
			    	    position: relative;
					    top: -35px;
					    display: inline-block;
					    background: #000;
					    color: #fff;
					    padding: 10px;
					    line-height: 1;
					    align-self: center;
					    opacity: 1;

					    &:hover {
							background-color: theme-color("primary");
							text-decoration: none;
						}
				    }
				}

				.entry-title, .byline {
					text-align: center;
				}

				.entry-summary {
					display: none;
				}
			}

			.post:nth-child(3n+2) {
				// align-self: flex-start;
			}

			.post:nth-child(4n+2) {
				// align-self: flex-end;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.row .column {
			display: flex;
			justify-content: center;
			flex-wrap: nowrap;
			flex-direction: column;

			.post {
				width: 100%;
				border: none;
				flex-direction: column;

				.featured-image, .post-content {
					width: 100%;
				}

				.video-post {
					width: 100%;
					float: none;
				}

				.post-content header {
				    display: flex;
				    flex-direction: column;

				    .first-category {
			    	    position: relative;
					    top: -35px;
					    display: inline-block;
					    background: #000;
					    color: #fff;
					    padding: 10px;
					    line-height: 1;
					    align-self: center;
					    opacity: 1;

					    &:hover {
							background-color: theme-color("primary");
							text-decoration: none;
						}
				    }
				}

				.entry-title, .byline {
					text-align: center;
				}

				.entry-summary {
					display: none;
				}
			}
		}
	}
}

body:not(.archive):not(.search) .posts-container {
	.post:first-of-type {
		flex: 1 0 auto;
		width: 100%;
		border: none;

		.featured-image {
			width: 100%;
		}

		.video-post {
			width: 100%;
			float: none;
		}

		.post-content {
			width: 100%;

			.first-category {
				display: none;
			}

			.entry-title, .byline {
				text-align: center;
			}

			.entry-summary {
				display: block;
			}
		}
	}
}

body.archive .posts-container {
	.post:first-of-type {
		padding-top: rem-calc(30px);
		padding-bottom: rem-calc(15px);
		border-top: none;
		border-bottom: 1px solid #ececec;
	}
}

.article-container {
	padding-top: rem-calc(30px);
	padding-bottom: rem-calc(30px);

	header {
		margin-bottom: rem-calc(60px);

		.entry-title {
			padding: rem-calc(30px) 0;
			font-weight: 600;
		}
	}

	.post {

		blockquote {
			position: relative;
			padding: 0 rem-calc(50px);
			font-style: italic;
			font-size: 1.2rem;
			color: $gray-700;
			
			&:before {
				content: '\201C';
				font-size: rem-calc(80px);
				line-height: 1;
				color: $gray-200;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}
		}
	}

	.next-article {
		display: block;
		background: #839635;
		padding: rem-calc(20px 40px);
		margin: rem-calc(30px) auto;
		color: $white;
		font-size: 32px;
		line-height: 1;
		text-transform: uppercase;

		a {
			color: $white;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

// Make oembeds responsive
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Animated loader
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
	display: inline-block;
	top: -30px;
	color: theme-color("primary");
	font-size: 10px;
	margin-left: 40px;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -20px;
  animation-delay: -0.32s;
}
.loader:after {
  left: 20px;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

