body#tinymce {
  margin: 12px !important;

  blockquote {
		position: relative;
		padding: 0 rem-calc(50px);
		font-style: italic;
		font-size: 1.2rem;
		color: $gray-700;
		
		&:before {
			content: '\201C';
			font-size: rem-calc(80px);
			line-height: 1;
			color: $gray-200;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
	}
}
